<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

<<<<<<< HEAD
        <div id="search-options">
            <p>Select a Genre</p>
            <%=form_tag('/movies/search_result', method: :get) do%>
            <%= select_tag :genre,  options_for_select(@genres.map{ |key, value| [key, value]}), multiple: true %><br>
            <%= submit_tag 'Search'%>
            <% end %>
        </div>
    </body>
=======
<div class="choose"><p></p></div>
<div id="search-options">
  <%=form_tag('/movies/search_result', method: :get) do%>
  <div class="submit">
  <%= submit_tag 'Go!', id: 'go'%>
</div>
    <%= select_tag :genre,  options_for_select(@genres.map{ |key, value| [key, value]}), multiple: true %><br>

  <% end %>
</div>
</body>
>>>>>>> b7d000d877bb6440407961732554be82ffab247f
</html>
