<p id="notice"><%= notice %></p>

<div id="top-bar"></div>

<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                Welcome
                <%= @user.name %>!
            </h1>
        </section>
    </aside>
</div>

<p class="email">
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<div>
  <h4 class="seen">Movies Seen:</h4>
</div>

<%= link_to 'Home', root_path %>
<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
